:root {
    --color-primary: #66FCF1;
    --color-primary-dark: #397977;
    --color-dark: #1B222C;
    --color-second: #202833;
    --color-shadow: #252E3B;
    --color-grey: #2A3443;
    --color-text-one: #80858B;
    --color-text-two: #ffffff;
    --medium: 320px;
    --large: 600px
}

// font-family: 'Orbitron', sans-serif;
// font-family: 'Poppins', sans-serif;

/*
@media screen and (min-width:320px) { }
@media screen and (min-width:480px) { }
@media screen and (min-width:600px) { }
@media screen and (min-width:768px) { }
@media screen and (min-width:992px) { }
@media only screen and (min-width: 1382px) { }

Padrões de ordem de propriedades
posicionamento
1 - position:;
2 - top:;
3 - left:;

float
4 - float:;
5 - clear:;

comportamento
6 - display:;

medidas e espaçamentos
7 - width:;
8 - height:;
9 - margin:;
10 - padding:;

formatação do bloco
11 - border:;
12 - background:;

formatação do conteúdo
13 - font:;
14 - text:;
15 - color:; 
*/